<script src="/validation/jquery.validationEngine.js"></script>
<script src="/validation/jquery.validationEngine-zh_TW.js"></script>
<link rel="stylesheet" href="/validation/validationEngine.jquery.css" type="text/css"/>

<article _height="auto">
  <section>
    <div id="banner_cart" class="banner">
      <div class="bread">
        <a href="/<%= I18n.locale %>
          ">
          <%= t("bread.index") %></a>
        > <%= t("bread.cart") %>
      </div>
    </div>
    <div id="content">
      <%= form_for(@productask, :url => productasks_path) do |f| %>
      <div id="form">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th width="20%" align="right"><%= t("cart.company") %>：</th>
            <td width="80%">
              <%= f.text_field :askercompany, :class =>"text validate[required]" %></td>
          </tr>
          <tr>
            <th align="right"><%= t("cart.country") %>：</th>
            <td>
              <%= f.text_field :country, :class =>"text validate[required]" %></td>
          </tr>
          <tr>
            <th align="right"><%= t("cart.contact") %>：</th>
            <td>
              <%= f.text_field :askername, :class =>"text validate[required]" %></td>
          </tr>
          <tr>
            <th align="right"><%= t("cart.tel") %>：</th>
            <td>
              <%= f.text_field :askertel, :class =>"text validate[required, custom[phone]]" %></td>
          </tr>
          <tr>
            <th align="right">email：</th>
            <td>
              <%= f.email_field :askermail, :class =>"text validate[required]" %></td>
          </tr>
          <tr>
            <th align="right"><%= t("cart.subject") %>：</th>
            <td>
              <%= f.text_field :subject, :class =>"text validate[required]" %></td>
          </tr>
          <tr>
            <th align="right" style="<%= "font-size:12px;" if params[:locale] == "en" %>"><%= t("cart.askamount") %>：</th>
            <td>
              <%= f.text_field :askamount, :class =>"text validate[required,custom[integer],min[100]]" %></td>
          </tr>
          <tr>
            <th align="right" valign="top" style="padding-top:7px;<%= "font-size:12px;" if params[:locale] == "en" %>"><%= t("cart.purpose") %>：</th>
            <td>
              <% [t("cart.purpose_01"), t("cart.purpose_02"), t("cart.purpose_03")].each_with_index do |purpose, index| %>
              <input name="purpose[]" type="checkbox" value="<%= purpose %>" id="purpose_<%= index+1 %>" <%= "checked" if( @productask.purpose && @productask.purpose.include?(purpose) ) %> class="checkbox validate[required]" >
              <label for="purpose_<%= index+1 %>"><%= purpose %></label>
              <% end %></td>
          </tr>
          <tr>
            <td colspan="2"><%= t("cart.customize") %>：<br>
              <%= f.text_area :purpose_customize, :cols =>"", :rows => "" %></textarea></td>
          </tr>
          <tr>
            <td colspan="2"><%= t("cart.other") %>：<br>
              <%= f.text_area :purpose_other, :cols =>"", :rows => "" %></textarea></td>
          </tr>
          <tr>
            <td colspan="2">
              <%= t("cart.note") %>：<br>
              <%= f.text_area :note, :cols =>"", :rows => "" %></td>
          </tr>
        </table>
      </div>

      <div id="list">
        <h4><%= t("cart.askproducts") %>：</h4>
        <ul>
          <% @askItems && @askItems.each do |item| %>
          <li>
            <%= link_to item[:name], item[:path], :target => "_blank" %>
            <%= link_to "刪除", delete_cart_productasks_path(params[:locale], item[:id]), :method =>
            :delete, :data => {:confirm => "確定刪除？"}, :class => "delete" %>
          </li>
          <% end %>

          <% if @askItems.blank? %>
          <li><%= t("cart.empty") %></li>
          <% end %>
        </ul>
      </div>

      <div id="button">
        <%= f.submit "", :style =>"background: url(/assets/cart-03-#{params[:locale]}.png) 0 0 no-repeat;" %>
      </div>
    </div>
    <% end %>
  </section>
</article>

<script type="text/javascript">
$("#new_productask").validationEngine();

<% if @productask.errors.any? %>
alert("<%= @productask.errors.full_messages %>");
<% end %>

if("<%= alert||notice %>"){
  alert("<%= alert||notice %>");
}

$("#purpose_5").change(function(){
  var purpose_other_name = $(this).is(":checked") ? "purpose[]" : "";
  $("#purpose_other").attr("name", purpose_other_name);
});
</script>