<article>
  <section>
  	<div id="banner_about" class="banner">
  		<div class="bread"><a href="/<%= I18n.locale %>"><%= t("bread.index") %></a> > 詢價車</div>
  	</div>
  	<div id="content">
  		<% if @productask.errors.any? %>
  		<div>
  			<% @productask.errors.full_messages.each do |message| %>
  				<p><%= message %></p>
  			<% end %>
  		</div>
  		<% end %>

  		<%= form_for(@productask, :url => productasks_path) do |f| %>
  		<p>公司名稱：<%= f.text_field :askercompany %></p>
  		<p>國家：<%= f.text_field :country %></p>
  		<p>聯絡人：<%= f.text_field :askername %></p>
  		<p>聯絡電話：<%= f.text_field :askertel %></p>
  		<p>email：<%= f.text_field :askermail %></p>
  		<p>主旨：<%= f.text_field :subject %></p>
  		<p>需求數量：<%= f.text_field :askamount %></p>
  		<table>
		  <tr>
		    <th width="16%" align="center">詢價商品</th>
		    <th width="8%" align="center">刪除</th>
		  </tr>

		  <% if @askItems && @askItems.length>0 %>
		  <% @askItems.each do |item| %>
		  <tr>
		    <td><%= link_to item[:name], productclass_product_path(params[:locale], item[:class_id], item[:id]) %></td>
		    <td><%= link_to "刪除", delete_cart_productasks_path(params[:locale], item[:id]), :method => :delete, :data => {:confirm => "確定刪除？"} %></td>
		  </tr>
		  <% end %>

		  <% else %>
		  <tr>
		    <td align="center" colspan="9">詢價車是空的。</td>
		  </tr>
		  <% end %>
		</table>
		<p>
			詢價內容<br>
			<% @childcount = 1 %>
			<% ["運送時間", "出口港", "離岸價格", "客制化需求"].each do |purpose| %>
				<input name="purpose[]" type="checkbox" value="<%= purpose %>" id="purpose_<%= @childcount %>" <%= "checked" if( @productask.purpose && @productask.purpose.include?(purpose) ) %> ><label for="purpose_<%= @childcount %>"><%= purpose %></label><br>
				<% @childcount += 1 %>
			<% end %>
		</p>
		<p>
			留言或備註（非必填）：<br>
			<%= f.text_area :note, :rows => 5 %>
		</p>
		<%= f.submit "送出詢價單" %>
		<% end %>
	</div>
    
  </section>
</article>

<script type="text/javascript">
if("<%= alert||notice %>"){
	alert("<%= alert||notice %>");
}
</script>