<article _height="auto">
  <section>
    <div id="banner_contact" class="banner">
      <div class="bread"><a href="/<%= I18n.locale %>"><%= t("bread.index") %></a> > <%= t("bread.contact") %></div>
    </div>
    <div id="content">
      <h3><%= t("contact.title").html_safe %></h3>
      <p><%= t("contact.content") %></p>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td width="56%"><img src="/images/contact-01.jpg" width="517" height="279"></td>
          <td width="44%"><strong><%= t("company.info3.name") %></strong><br>
       <%= t("company.address") %>：<%= t("company.info3.address") %><br>
        <%= t("company.tel") %>：02-22534059<br>
        <%= t("company.fax") %>：02-22512350<br>
        <%= t("company.contact") %>：<%= t("company.info3.contact") %><br>
        E-mail： <a href="mailto:selena@versatile-dragon.com" target="_blank">selena@versatile-dragon.com</a>
          </td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td><img src="/images/contact-02.jpg" width="517" height="279"></td>
          <td><strong><%= t("company.info1.name") %></strong><br>
       <%= t("company.address") %>：<%= t("company.info1.address") %><br>
        <%= t("company.tel") %>：0512-52577180/181<br>
        <%= t("company.fax") %>：0512-52578380<br>
        <%= t("company.contact") %>：<%= t("company.info1.contact") %><br>
        E-mail： <a href="mailto:solomon@versatile-dragon.com" target="_blank">solomon@versatile-dragon.com</a><br>
        <%= t("company.mail") %>： <a href="mailto:solomon@versatile-dragon.com" target="_blank">solomon@versatile-dragon.com</a> 
          </td>
        </tr>
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td><img src="/images/contact-03.jpg" width="517" height="279"></td>
          <td><strong><%= t("company.info2.name") %></strong><br>
      <%= t("company.address") %>：<%= t("company.info2.address").gsub("<br>", "") %><br>
        <%= t("company.tel") %>：0769-83717123/4/5<br>
        <%= t("company.fax") %>：0769-83717118<br>
        <%= t("company.contact") %>：<%= t("company.info2.contact") %><br>
        E-mail： <a href="mailto:bruce@versatile-dragon.com " target="_blank">bruce@versatile-dragon.com </a>
          </td>
        </tr>
      </table>
    </div>
  </section>
</article>
<script type="text/javascript">
$(document).ready(function(){
  $("header").attr("_height", "none");
  $("aside").attr("_height", "none");
  $("footer").attr("_height", "none");
});

</script>