<article>
  <section>
    <div id="banner">
      <div class="bread"><a href="/<%= I18n.locale %>"><%= t("bread.index") %></a> > <%= t("bread.partner") %></div>
    </div>
    <div id="content">
      <h3><%= t("partner.title").gsub("\n", '<br/>').html_safe %></h3>
      <p><%= t("partner.content") %></p>
      <div id="logo">
        <table width="100%%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="20%" align="center" valign="middle" height="160"><img src="/images/partner-01.png" width="139" height="140"></td>
            <td width="20%" align="center" valign="middle"><img src="/images/partner-02.png" width="140" height="140"></td>
            <td width="20%" align="center" valign="middle"><img src="/images/partner-03.png" width="140" height="140"></td>
            <td width="20%" align="center" valign="middle"><img src="/images/partner-04.png" width="139" height="140"></td>
            <td width="20%" align="center" valign="middle"><img src="/images/partner-05.png" width="139" height="140"></td>
          </tr>
          <tr>
            <td align="center" valign="middle" height="160"><img src="/images/partner-06.png" width="139" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-07.png" width="140" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-08.png" width="140" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-09.png" width="139" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-10.png" width="139" height="140"></td>
          </tr>
          <tr>
            <td align="center" valign="middle" height="160"><img src="/images/partner-11.png" width="139" height="140"></td>
            <td align="center" valign="middle"><img src="/images/partner-12.png" width="140" height="140"></td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
            <td align="center" valign="middle">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</article>