<article>
<section class="hgroup">
  <h2><img src="/images/man.png" width="16" height="16"><%= t("admin.titleEdit")%></h2>
</section>
<!--hgroup-->


<%= form_for(@admin, :url => admin_update_path(:locale => I18n.locale), :action => "put") do |f| %>
<section class="text text-edit">
  <div class="half">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("admin.userid.name")%></th>
        <td><%= f.text_field :username, :autocomplete => "off", :placeholder => (t("admin.holder")+t("admin.userid.title")), :class => "validate" %></td>
      </tr>
    </table>
  </div>

  <div class="half">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("admin.username.name")%></th>
        <td><%= f.text_field :name, :autocomplete => "off", :placeholder => (t("admin.holder")+t("admin.username.title")), :class => "validate" %></td>
      </tr>
    </table>
  </div>
</section>
<!--text-->

<section class="hgroup">
  <h2><img src="/images/psw.png" width="16" height="16"><%= t("admin.password.change")%></h2>
  <p>(<%= t("admin.password.changeNote")%>)</p>
</section>
<!--hgroup-->

<section class="text text-edit">
  <div class="half">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("admin.password.newname")%></th>
        <td><%= f.password_field :password, :autocomplete => "off" %></td>
      </tr>
    </table>
  </div>
  <div class="half">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("admin.password.newconfirm")%></th>
        <td><input id="pswCheck" type="password" name="textfield" /></td>
      </tr>
    </table>
  </div>
</section>
<!--text-->
<% end %>

<section class="button">
  <a href="#" id="btnSubmit"><img src="/images/save.png"><%= t("actionshare.save")%></a>
  <a href="#"><img src="/images/cancel.png"><%= t("actionshare.cancel")%></a>
</section>
<!--button--> 
</article>

<script type="text/javascript">
var updateMsg = "<%=flash[:notice]%>";
if(updateMsg){
  Alertify.log.success('<%= t("admin.updateSuccess")%>');
}

$("#btnSubmit").click(function(){
	$("form").submit();
});
$("form").submit(function(){
	var check = ($("#admin_password").val()==$("#pswCheck").val());
	if(check == false){
    Alertify.log.error('<%= t("admin.passwordconfirm.valid")%>');
		$("#admin_password").val("");
		$("#pswCheck").val("");
	}

  var submit = true;
  $(".validate").each(function(){
    if(!$(this).val()){
      Alertify.log.error($(this).attr("placeholder"));
      submit = false;
    }
  });

	return (check && submit);
});

</script>