<section id="vert">
  <article>
    <section class="hgroup">
      <h2><img src="/images/set.png" width="16" height="16"><%= t("admin.login") %></h2>
    </section>
    <!--hgroup-->

    <section class="text text-edit">
      <div class="one">
        <%= form_for(@admin, :url => ("/"+params[:locale]+"/admin/loginCheck") ) do |f| %>
        <div class="one">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th valign="top"><%= t("admin.userid.name") %></th>
              <td><%= f.text_field :username, :autocomplete => "off" %></td>
            </tr>
          </table>
        </div>

        <div class="one">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th valign="top"><%= t("admin.password.name") %></th>
              <td><%= f.password_field :password, :autocomplete => "off" %></td>
            </tr>
          </table>
        </div>
        <% end %>

      </div>
    </section>
    <!--text-->

    <section class="button">
      <a href="#" id="btnLogin"><img src="/images/log.png"><%= t("admin.login") %></a> 
    </section>
    <!--button--> 
  </article>
</section><!--vert-->

<script>
$("body").addClass("login");
  $(function() {
    var loginMsg = "<%= flash[:loginCheck] %>";
    if(loginMsg){
      Alertify.log.error('<%= t("admin.loginError") %>');
    }

    $("#btnLogin").click(function(){
      $("form").submit();
    });

    $("#admin_password").keydown(function(event){
      if (event.keyCode == 13){
        $("form").submit();
      }
    });
    
  });
</script>