<article>
<%= form_for(@admin, :url => ("/"+params[:locale]+"/admin/createAdmin"), :class => "text text-edit") do |f| %>
  <section class="text text-edit">    
  <div class="quarter">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("admin.username.name") %></th>
        <td><%= f.text_field :name, :autocomplete => "off", :class => "validate", :placeholder => (t("admin.holder")+t("admin.username.title")), :data => {:validattr => t("admin.username.name")} %></td>
      </tr>
    </table>
  </div>

  <div class="remainder">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("admin.userid.name") %></th>
        <td><%= f.text_field :username, :autocomplete => "off", :class => "validate", :placeholder => (t("admin.holder")+t("admin.userid.title")), :data => {:validattr => t("admin.userid.name")} %></td>
      </tr>
    </table>
  </div>

  <div class="half">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("admin.password.name") %></th>
        <td><%= f.password_field :password, :autocomplete => "off", :class => "validate", :data => {:validattr => t("admin.password.name")} %></td>
      </tr>
    </table>
  </div>

  <div class="half">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("admin.passwordconfirm.name") %></th>
        <td><input id="pswCheck" type="password" name="textfield" /></td>
      </tr>
    </table>
  </div>
</section>
  <% end %>
  <!-- end of form -->


<section class="button"> <a href="#"><img src="/images/add.png"><%= t("admin.new") %></a> </section>
<!--button-->
<section class="list">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th align="left" class="x2"><%= t("admin.username.title") %></th>
      <th align="left"><%= t("admin.userid.title") %></th>
      <th align="left" class="x1"><%= t("actionshare.delete") %></th>
    </tr>

    <% @admins.each do |admin| %>
    <% if(!admin.master) %>
    <tr>
      <td align="left"><%= admin.name %></td>
      <td align="left"><%= admin.username %></td>
      <td align="left" class="delete">
        <a href="#" data-deleteid="<%= admin.id.to_s %>"><img src="/images/delete.png"></a>
      </td>
      <%= link_to image_tag("/images/delete.png"), ("/"+params[:locale]+"/admin/deleteAdmin/"+admin.id.to_s) , :method => :delete, :id => ("delete"+ admin.id.to_s ), :style => "display:none;" %>
    </tr>
    <% end %>
    <% end %>
  </table>
</section>
<!--list-->
</article>


<script type="text/javascript">
$(document).ready(function() {

  $("#nav-3").parent().addClass("active");

  var adminCreateError = "<%= flash[:error] %>";
  if(adminCreateError){
    Alertify.log.error("<%= t('admin.newError')%>");
  }

  var adminCreateSuccess = "<%= flash[:success] %>";
  if(adminCreateSuccess){
    Alertify.log.success("<%= t('admin.newSuccess')%>");
  }

  $(".button a").click(function(event){
    $("#new_admin").submit();
    event.preventDefault();
  });

  $("#new_admin").submit(function(){
    var submit = true;
    $(".validate").each(function(){
      if(!$(this).val()){
        Alertify.log.error($(this).data("validattr")+"<%= t('admin.valid')%>");
        submit = false;
      }
    });

    var check = ($("#admin_password").val()==$("#pswCheck").val());
    if(check == false){
      Alertify.log.error("<%= t('admin.passwordconfirm.valid')%>");
      $("#admin_password").val("");
      $("#pswCheck").val("");
      submit = false;
    }

    return submit;
  });

  $(".delete a").click(function() {
    var deleteid = $(this).data("deleteid");
    Alertify.dialog.confirm("<%= t('actionshare.deleteConfirm')%>", function () {
      // user clicked "ok

      $("#delete"+deleteid).trigger("click");
      
    }, function () {
      // user clicked "cancel"
    });
  });
  
});
</script>