<div id="main" class="right">
  <div class="main-list">
    <h1>建立管理者</h1>

    <%= form_for(@admin, :url => admin_createAdmin_path(@admin, :locale => I18n.locale)) do |f| %>
    <div class="field">
      <%= f.label :username, "使用者ID" %><br />
      <%= f.text_field :username, :autocomplete => "off" %>
    </div>
    <div class="field">
      <%= f.label :password, "密碼" %><br />
      <%= f.password_field :password, :autocomplete => "off" %>
    </div>
    <div class="field">
      <%= f.label :name, "使用者名稱" %><br />
      <%= f.text_field :name, :autocomplete => "off" %>
    </div>
    
    <% if flash[:error] %>
      <p class="error">同樣的帳號已經註冊過了</p>
    <% end %>
    <div class="actions">
      <%= f.submit "新增管理者" %>
    <br />
    </div>
    <% end %>

    <br />

    <div class="main-title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="main-list-title">
        <th>建立日期</th>
        <th>使用者帳號</th>
        <th>使用者名稱</th>
        <th>刪除</th>
      </tr>
      <% @admins.each do |admin| %>
      <% if(!admin.master) %>
      <tr>
        <td><%= admin.created_at.to_date %></td>
        <td><%= admin.username %></td>
        <td><%= admin.name %></td>
        <td><%= link_to 'Destroy', ("/admin/deleteAdmin/"+admin.id.to_s), :method => :delete, data: { confirm: '確定刪除該使用者？' } %></td>
      </tr>
      <% end %>
      <% end %>
    </table>
    </div>
    <!--main-title--> 

  </div>
</div>
<!--main--> 

<script type="text/javascript">
$(document).ready(function() {
  $("#users").addClass("active");
});
</script>