<article>
<section class="hgroup">
  <h2><%= t("productclass.titleIndex") %></h2>
</section>
<!--hgroup-->

<section class="button">
  <%= link_to (image_tag("/images/add.png") + t("productclass.new")), admin_productclasses_path(:locale => I18n.locale), :method => :post %>
</section>
<!--button-->

<section class="list">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th align="left" class="x0 x2"><%= t("productclass.date") %></th>
      <th align="left"><%= t("productclass.title") %></th>
      <th align="left" class="x1"><%= t("productclass.listProduct") %></th>
      <th align="left" class="x0 x1"><%= t("actionshare.edit") %></th>
      <th align="left" class="x1"><%= t("actionshare.delete") %></th>
    </tr>

    <% if(@productclasses.blank?) %>
    <tr>
      <td colspan="5"><%= t("productclass.noClass") %></td>
    </tr>
    <% end %>

    <% @productclasses.each do |productclass| %>
    <tr>
      <td align="left" class="x0"><%= productclass.addDate.to_s.to_date %></td>
      <td align="left">
        <%= link_to productclass.name, admin_productclass_path(productclass, :locale => I18n.locale) %></td>
      <td align="left">
        <%= link_to image_tag("/images/enter.png"), admin_productclass_products_path(productclass, :locale => I18n.locale) %></td>
      <td align="left" class="x0">
        <%= link_to image_tag("/images/edit.png"), edit_admin_productclass_path(productclass, :locale => I18n.locale) %></td>
      <td align="left" class="delete"><a href="#" data-deleteid="<%= productclass.id %>" ><img src="/images/delete.png"></a></td>

      <%= link_to 'Destroy', admin_productclass_path(productclass, :locale => I18n.locale), method: :delete, :id => ("delete"+ productclass.id.to_s ), :style => "display:none;" %>
    </tr>
    <% end %>
  </table>
  <%= paginate @productclasses, :theme => 'admin' %>
</section>
<!--list-->
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");

  $(".delete a").click(function() {
    var deleteid = $(this).data("deleteid");

    Alertify.dialog.confirm("<%= t('productclass.deleteConfirm') %>", function () {
      // user clicked "ok"
      $("#delete"+deleteid).trigger("click");
    }, function () {
      // user clicked "cancel"
    });
  });
  
});
</script>