<article>
<section class="hgroup">
  <h2><%= t("productclass.titleIndex") %></h2>
</section>
<!--hgroup-->

<section class="button">
  <%= link_to (image_tag("/images/folder_add.png") + t("productclass.new")), admin_productclasses_path(:locale => I18n.locale), :method => :post %>
</section>
<!--button-->

<section class="list">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th align="left" class="x0 x2"><%= t("productclass.date") %></th>
      <th align="left">主分類名稱</th>
      <th align="left" class="x1"><%= t("productclass.subclass") %></th>
      <th align="left" class="x0 x1"><%= t("actionshare.edit") %></th>
      <th align="left" class="x1"><%= t("actionshare.delete") %></th>
    </tr>

    <% if(@productclasses.blank?) %>
    <tr>
      <td colspan="5"><%= t("productclass.noClass") %></td>
    </tr>
    <% end %>

    <% @productclasses.each do |productclass| %>
    <tr>
      <td align="left" class="x0">
        <%= productclass.addDate.to_s.to_date %>
      </td>
      <td align="left">
        <%= link_to image_tag("/images/folder.png") + " #{productclass.name}", admin_productclass_path(productclass, :locale => I18n.locale) %>
      </td>
      <td align="center">
        <%= link_to image_tag("/images/folder_add.png"), "#", :class => "add_subclass", :data => { :action => admin_productclass_subclasses_path(productclass, :locale => I18n.locale) } %>
      </td>
      <td align="left" class="x0">
        <%= link_to image_tag("/images/edit.png"), edit_admin_productclass_path(productclass, :locale => I18n.locale) %>
      </td>
      <td align="left">
        <a href="#" data-deleteid="<%= productclass.id %>" ><img src="/images/delete.png"></a>
      </td>

      <%= link_to 'Destroy', admin_productclass_path(productclass, :locale => I18n.locale), method: :delete, :id => ("delete"+ productclass.id.to_s ), :style => "display:none;" %>
    </tr>

    <% productclass.subclasses.each do |subclass| %>
    <%= render :partial => "subclass", :locals => { :productclass => productclass, :subclass => subclass } %>
    <% end %>

    <% end %>

    <tr id="new_subclass_tr" style="display:none;">
      <td align="left" class="x0"></td>
      <td align="left">
        <div>
          <%= form_for( @subclass, :url => "#" ) do |f| %>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="10%"><span>├</span> <img src="/images/folder.png" class="x0"></td>
              <td width="90%" ><%= f.text_field :name %></td>
            </tr>
          </table>
          <% end %>
        </div>
      </td>
      <td align="center">&nbsp;</td>
      <td align="left" class="x0">
        <a href="javascript:$('#form_subclass').submit()"><img src="/images/save.png"></a>
      </td>
      <td align="left">
        <a href="javascript:$('.editting_subclass').remove()"><img src="/images/cancel.png"></a>
      </td>
    </tr>
  </table>

</section>
<!--list-->
<%= paginate @productclasses, :theme => 'admin' %>
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");

  $(".delete a").click(function() {
    var deleteid = $(this).data("deleteid");

    Alertify.dialog.confirm("<%= t('productclass.deleteConfirm') %>", function () {
      // user clicked "ok"
      $("#delete"+deleteid).trigger("click");
    }, function () {
      // user clicked "cancel"
    });
  });

  $("a.add_subclass").click(function(e){
    e.preventDefault();

    if($(".editting_subclass").length){
      alert("請先完成編輯中的子分類。");
    }
    else{
      var subclass_tr = $("#new_subclass_tr").clone();
      subclass_tr.attr("id", "test").addClass("editting_subclass");
      subclass_tr.find("form:first").attr("action", $(this).data("action")).attr("id", "form_subclass");
      $(this).parents("tr:first").after( subclass_tr.show() );
    }
  });

  $("a.sub_trigger_edit").click(function(e){
    e.preventDefault();
    if($(".editting_subclass").length){
      alert("請先完成編輯中的子分類。");
      return;
    }

    var active_tr = $(this).parents('tr:first');
    
    active_tr.find('.sub_edit_hide').hide();
    active_tr.find('.sub_edit_show').show();
    active_tr.addClass("editting_subclass");
  });

  $("a.sub_trigger_cancel").click(function(e){
    e.preventDefault();

    var active_tr = $(this).parents('tr:first');
    
    active_tr.find('.sub_edit_hide').show();
    active_tr.find('.sub_edit_show').hide();
    active_tr.removeClass("editting_subclass");
  });
  
});
</script>