<div id="main" class="right">
  <div class="button">
    <%= link_to image_tag("/images/add.png")+'新增分類', admin_productclasses_path, :method => :post %>
  </div>
  <div class="main-list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr class="main-list-title">
        <th>Name</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% if(@productclasses.blank?) %>
      <tr>
        <td colspan="4">尚未建立產品分類</td>
      </tr>
      <% end %>

      <% @productclasses.each do |productclass| %>
      <tr>
        <td><%= productclass.name %></td>
        <td><%= link_to 'Show', admin_productclass_path(productclass, :locale => I18n.locale) %></td>
        <td><%= link_to 'Edit', edit_admin_productclass_path(productclass, :locale => I18n.locale) %></td>
        <td><%= link_to 'Destroy', admin_productclass_path(productclass, :locale => I18n.locale), method: :delete, data: { confirm: '分類底下的商品也會一併刪除，確定刪除分類？' } %></td>
        <td><%= link_to '顯示分類商品', admin_productclass_products_path(productclass, :locale => I18n.locale) %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
<!--main--> 

<script type="text/javascript">
$(document).ready(function(){
  $("#productclasses").addClass("active");
});
</script>