<article>
<section class="hgroup">
  <h2><%= t("productclass.titleShow") %></h2>
</section>
<!--hgroup-->
<% if(@productclass) %>
<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= @productclass.created_at.to_date %></th>
      <td><%= @productclass.name %></td>
    </tr>
  </table>
</section>
<!--title-->

<input id="productclass_content" style="display:none;" type="text" value="<%=@productclass.content%>">
<section class="text text-show">
  <div id="articleContent"></div>
</section>
<!--text-->
<% else %>
<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>該語言不包含此分類</td>
    </tr>
  </table>
</section>
<!--title-->
<% end %>

<section class="button">
  <% if(@productclass) %>
  <%= link_to (image_tag("/images/edit.png")+t("actionshare.edit")), edit_admin_productclass_path(@productclass, :locale => I18n.locale) %>
  <% end %>
  <%= link_to (image_tag("/images/back.png")+t("actionshare.back")), admin_productclasses_path(:locale => I18n.locale) %>
</section>
<!--button-->
</article>


<script type="text/javascript">
$(document).ready(function() {
  $("#nav-2").parent().addClass("active");
  
  showContent();

  function showContent(){
    if($("#productclass_content").val())
    {
      var obj = JSON.parse($("#productclass_content").val());
      var article = "";
      for(i=0;i<obj.article.length;i++)
      {
        var paragraph = obj.article[i];

        if(JSON.stringify(paragraph.type)=='"paragraph"')
        {
          article = "<p class='"+paragraph.cssclass+"' style='font-size: "+paragraph.fontSize+"; color: "+paragraph.color+"'>";

          if(paragraph.link){
            article += "<a target='_blank' href='"+paragraph.link+"'>"+jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</a></p>";
          }
          else{
            article += jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</p>";
          }
        }
        else if(JSON.stringify(paragraph.type)=='"image"')
        {
          article = "<p><img alt=" + JSON.stringify(paragraph.id) + " src=" + JSON.stringify(paragraph.path) + " title=" + JSON.stringify(paragraph.id) + " /></p>";
        }
        else if(JSON.stringify(paragraph.type)=='"linkedimg"')
        {
          article = "<p><a href="+JSON.stringify(paragraph.link)+" target='_blank'><img alt=" + JSON.stringify(paragraph.imgid) + " src=" + JSON.stringify(paragraph.imgpath) + " title=" + JSON.stringify(paragraph.imgid) + " /></a></p>";
        }
        else if (JSON.stringify(paragraph.type)=='"video"') {
          article = "<p><iframe width=\"480\" height=\"290\" data-code=\"" + paragraph.code + "\" src=\"http://www.youtube.com/embed/" + paragraph.code+ "\" frameborder=\"0\" allowfullscreen></iframe></p>";
        }
        $("#articleContent").append(article);
      }
    }
  }

  function jsonReplace(string){return string.replace(/"([^"]*)"/g, "$1");}
  
});

</script>
