<div id="main" class="right">
  <div class="main-list">
    <p><%= @productclass.name %><%= link_to '修改分類', edit_admin_productclass_path(@productclass, :locale => I18n.locale) %></p>

    <% if @productclass.frontshow %>
    <p><%=image_tag(@productclass.frontshow) %></p>
    <% else %>
    <p>尚未上傳封面</p>
    <% end %>

    <input id="productclass_content" style="display:none;" type="text" value="<%=@productclass.content%>">
    <div id="articleContent" class="main-text"></div>

    <%= link_to 'Back', admin_productclasses_path(:locale => I18n.locale) %>
  </div>
</div>
<!--main--> 

<script type="text/javascript">
$(document).ready(function() {
  $("#productclasses").addClass("active");
  showContent();

  function showContent(){
    if($("#productclass_content").val())
    {
      var obj = JSON.parse($("#productclass_content").val());
      var article = "";
      for(i=0;i<obj.article.length;i++)
      {
        var paragraph = obj.article[i];

        if(JSON.stringify(paragraph.type)=='"paragraph"')
        {
          article = "<div class='paragraphContainer' data-type='paragraph'><p class='"+paragraph.cssclass+"' style='font-size: "+paragraph.fontSize+"; color: "+paragraph.color+"'>";

          if(paragraph.link){
            article += "<a target='_blank' href='"+paragraph.link+"'>"+jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</a></p></div>";
          }
          else{
            article += jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</p></div>";
          }
        }
        else if(JSON.stringify(paragraph.type)=='"image"')
        {
          article = "<div class='paragraphContainer' data-type='image' data-photo_id=\"" + paragraph.id + "\"><img alt=" + JSON.stringify(paragraph.id) + " src=" + JSON.stringify(paragraph.path) + " title=" + JSON.stringify(paragraph.id) + " /></div>";
        }
        else if(JSON.stringify(paragraph.type)=='"linkedimg"')
        {
          article = "<div  class='paragraphContainer' data-type='linkedimage' data-photo_id=\"" + paragraph.imgid + "\"><a href="+JSON.stringify(paragraph.link)+" target='_blank'><img alt=" + JSON.stringify(paragraph.imgid) + " src=" + JSON.stringify(paragraph.imgpath) + " title=" + JSON.stringify(paragraph.imgid) + " /></a></div>";
        }
        else if (JSON.stringify(paragraph.type)=='"video"') {
          article = "<div  class='paragraphContainer' data-type='video' data-code=\"" + paragraph.code + "\"><iframe width=\"480\" height=\"290\" data-code=\"" + paragraph.code + "\" src=\"http://www.youtube.com/embed/" + paragraph.code+ "\" frameborder=\"0\" allowfullscreen></iframe></div>";
        }
        $("#articleContent").append(article);
      }
    }
  }

  function jsonReplace(string){return string.replace(/"([^"]*)"/g, "$1");}
  
});

</script>
