<article _height="auto">
  <section>
    <div id="banner_series" class="banner">
      <div class="cover">
        <%= image_tag(@productclass.frontshow, :width =>"545", :height => "123") %></div>
      <div class="bread">
        <%= "#{t("bread.index")} > #{t("bread.product")} > #{@productclass.name}" %></div>
    </div>
    <div id="content">
      <div class="left">
        <%= display_productclasses(@productclass, @productclasses).html_safe %>
      </div>
      <!--left-->

      <div id="level-1" class="right">
        <h3>
          <%= @productclass.name %>
        </h3>

        <% unless @productclass.content.blank? %>
        <input id="productclass_content" type="hidden" value="<%= @productclass.content %>">
        <div class="peditor" id="articleContent"></div>
        <% end %>

        <% @productclass.subclasses.each do |subclass| %>
        <% next if(subclass.products.length == 0) %>
        <div class="thumb">
        <h4>極地暖kyuwa電熱暖手寶</h4>
          <ul class="bxslider">
            <% subclass.products.each do |product| %>
            <% @cover = product.cover %>
            <li>
              <a href="<%= productclass_subclass_product_path(@productclass, subclass, product, :locale => I18n.locale) %>">
                 <img src="<%= @cover.get_path if @cover %>"><br>
                <span><%= "#{product.name.blank? ? "未命名" : product.name}" %></span>
              </a>
            </li>
            <% end %>
          </ul>
        </div>
        <% end %>

      </div>
      <!--right-->
    </div>
  </section>
</article>

<script type="text/javascript">
$(function(){
  if($("#productclass_content").val()){
    editor.output($("#productclass_content").val());
  }

  $("#articleContent div").each(function(){
    $("#articleContent").append($(this).html());
    $(this).remove();
  });

  $('.bxslider').bxSlider({
    randomStart:true,
    pager:false,
    minSlides: 4,
    maxSlides: 4,
    slideWidth: 154,
    slideMargin: 15
  });
    
});
</script>