<article _height="auto">
  <section>
    <div id="banner_series" class="banner">
      <div class="cover">
        <%= image_tag(@productclass.frontshow, :width =>"545", :height => "123") %></div>
      <div class="bread">
        <%= "#{t("bread.index")} > #{t("bread.product")} > #{@productclass.name}" %></div>
    </div>
    <div id="content">
      <div class="left">
        <%= display_productclasses(@productclass, @productclasses).html_safe %></div>
      <!--left-->

      <div id="level-1" class="right">
        <h3>
          <%= @productclass.name %>
        </h3>
        <input id="productclass_content" type="hidden" value="<%= @productclass.content %>
        ">
        <div class="peditor" id="articleContent"></div>

        <%= display_subclasses_products(@productclass).html_safe %>
      </div>
      <!--right-->
    </div>
  </section>
</article>

<script type="text/javascript">
$(document).ready(function() {
  editor.output($("#productclass_content").val());

  $("#articleContent div").each(function(){
    $("#articleContent").append($(this).html());
    $(this).remove();
  });

  $('.bxslider').bxSlider({
    randomStart:true,
    pager:false,
    minSlides: 4,
    maxSlides: 4,
    slideWidth: 154,
    slideMargin: 15     
  });
});

</script>