<article>
  <section>
  	<div id="banner_about" class="banner">
  		<div class="bread"><a href="/<%= I18n.locale %>"><%= t("bread.index") %></a> > <%= t("bread.about") %></div>
  	</div>
  	<div id="content">
  		<table>
		  <tr>
		    <th width="16%" align="center">明細</th>
		    <th width="8%" align="center">刪除</th>
		  </tr>

		  <% if @askItems && @askItems.length>0 %>
		  <% @askItems.each do |item| %>
		  <tr>
		    <td><%= link_to item[:name], productclass_product_path(params[:locale], item[:class_id], item[:id]) %></td>
		    <td><%= link_to "刪除", delete_cart_productasks_path(params[:locale], item[:id]), :method => :delete, :data => {:confirm => "確定刪除？"} %></td>
		  </tr>
		  <% end %>

		  <% else %>
		  <tr>
		    <td align="center" colspan="9">尚未將商品加入購物車。</td>
		  </tr>
		  <% end %>
		  
		</table>
	</div>
    
  </section>
</article>