<% if @photo.errors.any? %>
editor.alert("<%= @photo.errors.full_messages.join(' ') %>", "error");

<% else %>

<% case @photo.img_type %>
<% when "detail", "color", "point" %>
	var div = $('<div class="three" id="photo_<%= "#{@photo.img_type}_#{@photo.id}" %>">');
	var a_link = '<%= link_to("刪除", "deletePhoto/#{@photo.id}", :method => :delete, :remote => true) %>';
	var image = '<%= image_tag("/uploads/Productphoto/#{@photo.product_id}/#{@photo.img_type=="point" ? nil : "thumb_"}#{@photo.id}-#{@photo.name}") %>';

	div.append(image);

	if("<%= @photo.img_type %>" == "point"){
		var p = $('<p>描述：<%= @photo.description %></p>');
		div.append(p);
		$('#new_productphoto')[0].reset();
		$('#productphoto_img_type').val("<%= @photo.img_type %>");
	}

	div.append(a_link);

	$("#photos_<%= @photo.img_type %>").append(div);
	$('<%= "#no_photo_#{@photo.img_type}" %>').hide();

<% when "peditor" %>
	var image = new Object();
	image.type = "img";
	image.id = "<%= @photo.id %>";
	image.path = "<%= @photo.image %>";

	if($("#newImageLink").val()){
		image.link = $("#newImageLink").val();
	}

	editor.resetChild();
	editor.img.update(image);
<% else %>
	alert("圖片上傳錯誤，請重新上傳");
<% end %>

<% end %>