<style>
.tab ul { width: 202px }
</style>
<article>
  <section class="category">
    <ul>
      <li><a href="../edit">產品圖</a></li>
      <li><a href="../edit/intro">產品描述</a></li>
      <li><a href="../edit/point">產品特色</a></li>
      <li><a href="../edit/form">產品規格</a></li>
      <li><a href="../edit/wrap">出貨包裝</a></li>
      <li class="active"><a href="javascript:void(0)">尺寸表</a></li>
      <li><a href="../edit/wash">洗滌方式</a></li>
      <li><a href="../edit/outro">其他</a></li>
    </ul>
  </section>
  <!--category-->

  <%= form_for(@product, :url => admin_productclass_subclass_product_path(params[:productclass_id], params[:subclass_id], @product, :locale => I18n.locale), :method => "put") do |f| %>
  <%#= f.hidden_field :content_size %>
  <%= hidden_field_tag(:next_step, "edit_wash") %>
  
  <% end #form %>

  <section class="tab">
    <ul id="tab">
      <li data-type="p" id="tab-p">
        <a href="#post-p"><img src="/images/edit.png"><%= t("editor.paragraph.name") %></a>
      </li>
      <li data-type="img" id="tab-img">
        <a href="#post-img"><img src="/images/img.png"/><%= t("editor.image.name") %></a>
      </li>
    </ul>
  </section>
  <!--tab-->

  <section class="post">
    <div id="post-p">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea id="newParagraphContent" name="textarea" cols="" rows="" class="autogrow" placeholder="<%= t("editor.paragraph.holder") %>"></textarea>
          </td>
        </tr>
      </table>
    </div>

    <div id="post-img">
      <%= form_for (@photo), :url => '../uploadPhoto', :html => {:multipart => true, :remote => true} do |f| %>
      <%= f.hidden_field :img_type, :value => "peditor" %>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="2">
            <%= f.file_field :image, :class => "autogrow" %>
            <input name="authenticity_token" type="hidden" value="" />
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </section>
  <!--post-->  

  <section class="editorAdd button" id="btnAddElement">
    <a href="#">
      <img src="/images/add.png">
      <%= t("editor.add") %></a>
  </section>
  <!--button--> 

  <section class="hgroup">
    <h2><%= t("editor.preview.title") %></h2>
    <p><%= t("editor.preview.tip") %></p>
  </section>
  <!--hgroup-->

  <section id="articleContent" class="preview sortable"></section>
  <!--preview-->  

  <section class="button" id="btnSubmit">
    <a href="javascript:$('#edit_product_<%= @product.id %>').submit();">
      <img src="/images/next.png">
      下一步</a>
    <a href="../edit/wrap"><img src="/images/back.png">上一步</a>
  </section>
  <!--button-->
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");
  
  $("#lang a").unbind().click(function(event){
    event.preventDefault();
    Alertify.log.error("文章編輯中, 無法切換語系");
  });

  editor.init({
    articleModel: "product",
    contentColumn: "content_size",
    photoModel: "productphoto"
  });
});
</script>