<article>
  <section class="category">
    <ul>
      <li><a href="../edit">產品圖</a></li>
      <li><a href="../edit/intro">產品描述</a></li>
      <li><a href="../edit/point">產品特色</a></li>
      <li><a href="../edit/form">產品規格</a></li>
      <li class="active"><a href="javascript:void(0)">出貨包裝</a></li>
      <li><a href="../edit/size">尺寸表</a></li>
      <li><a href="../edit/wash">洗滌方式</a></li>
      <li><a href="../edit/outro">其他</a></li>
    </ul>
  </section>
  <!--category-->

  <section>
    <%= show_product_bread(@product).html_safe %>
  </section>
  <!--breads-->

  <%= form_for(@product, :url => admin_productclass_subclass_product_path(params[:productclass_id], params[:subclass_id], @product, :locale => I18n.locale), :method => "put") do |f| %>

  <%= hidden_field_tag(:next_step, "edit_size") %>
  <section class="post">
      <div id="post-p">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2">
              <%= f.text_area :content_wrap, :rows => "", :cols => "", :class => "autogrow", :placeholder => "請輸入文字" %></td>
          </tr>
        </table>
      </div>      
    </section>
    <!--post-->
  
  <% end #form %>

  

  <section class="button" id="btnSubmit">
    <a href="javascript:$('#edit_product_<%= @product.id %>').submit();">
      <img src="/images/next.png">
      下一步</a>
    <a href="../edit/form"><img src="/images/back.png">上一步</a>
  </section>
  <!--button-->
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");
  
  $("#lang a").unbind().click(function(event){
    event.preventDefault();
    Alertify.log.error("文章編輯中, 無法切換語系");
  });
});
</script>