<article>
  <section class="category">
    <ul>
      <li class="active"><a href="javascript:void(0);">產品圖</a></li>
      <li><a href="edit/intro">產品描述</a></li>
      <li><a href="edit/point">產品特色</a></li>
      <li><a href="edit/form">產品規格</a></li>
      <li><a href="edit/wrap">出貨包裝</a></li>
      <li><a href="edit/size">尺寸表</a></li>
      <li><a href="edit/wash">洗滌方式</a></li>
      <li><a href="edit/outro">其他</a></li>
    </ul>
  </section>
  <!--category-->

  <%= form_for(@product, :url => admin_productclass_subclass_product_path(params[:productclass_id], params[:subclass_id], @product, :locale => I18n.locale), :method => "put") do |f| %>
  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th><%= t("productclass.addDate") %></th>
        <td>
          <%= f.text_field :addDate, :autocomplete =>"off", :placeholder => t("productclass.addDateholder") %>
        </td>
      </tr>
    </table>
  </section>
  <!--title-->

  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th><%= t("product.productName") %></th>
        <td>
          <%= f.text_field :name, :autocomplete => "off", :placeholder => t("product.productNameholder") %>
          <%= hidden_field_tag(:next_step, "edit_intro") %>
        </td>
      </tr>
    </table>
  </section>
  <!--title-->
  <% end #form %>

  <section class="hgroup">
    <h2>細節展示</h2>
  </section>
  <section class="text text-edit">
    <div class="three">
      <input name="" type="file"></div>
  </section>
  <!--細節展示-->

  <section class="hgroup">
    <h2></h2>
  </section>
  <section class="text text-edit">
    <div class="three">
      <input name="" type="file"></div>
  </section>
  <!--顏色-->

  <section class="hgroup">
    <h2>特點</h2>
  </section>
  <section class="text text-edit points">
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top" style="width:25px">※</th>
          <td>
            <input name="product[description][]" type="text"></td>
        </tr>
      </table>
    </div>
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top" style="width:25px">※</th>
          <td>
            <input name="product[description][]" type="text"></td>
        </tr>
      </table>
    </div>
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top" style="width:25px">※</th>
          <td>
            <input name="product[description][]" type="text"></td>
        </tr>
      </table>
    </div>
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top" style="width:25px">※</th>
          <td>
            <input name="product[description][]" type="text"></td>
        </tr>
      </table>
    </div>
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top" style="width:25px">※</th>
          <td>
            <input name="product[description][]" type="text"></td>
        </tr>
      </table>
    </div>
  </section>
  <!--特點-->

  <section class="button" id="btnSubmit">
    <a href="javascript:$('#edit_product_<%= @product.id %>').submit();">
      <img src="/images/next.png">
      下一步</a>
  </section>
  <!--button-->
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");
  
  $("#lang a").unbind().click(function(event){
    event.preventDefault();
    Alertify.log.error("文章編輯中, 無法切換語系");
  });

  $( "#product_addDate" ).datepicker();
  $( "#product_addDate" ).change(function(){
    $(this).datepicker("option", "dateFormat", "yy-mm-dd");
  });

  $('#edit_product_<%= @product.id %>').submit(function(){
    $(this).append($(".points").clone().hide());
    return true;
  });

  // editor.init({
  //   articleModel: "product",
  //   photoModel: "productphoto"
  // });

});
</script>