<article>
  <section class="category">
    <ul>
      <li class="active"><a href="javascript:void(0);">產品圖</a></li>
      <li><a href="edit/intro">產品描述</a></li>
      <li><a href="edit/point">產品特色</a></li>
      <li><a href="edit/form">產品規格</a></li>
      <li><a href="edit/wrap">出貨包裝</a></li>
      <li><a href="edit/size">尺寸表</a></li>
      <li><a href="edit/wash">洗滌方式</a></li>
      <li><a href="edit/outro">其他</a></li>
    </ul>
  </section>
  <!--category-->

  <%= form_for(@product, :url => admin_productclass_subclass_product_path(params[:productclass_id], params[:subclass_id], @product, :locale => I18n.locale), :method => "put") do |f| %>
  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th><%= t("productclass.addDate") %></th>
        <td>
          <%= f.text_field :addDate, :autocomplete =>"off", :placeholder => t("productclass.addDateholder") %>
        </td>
      </tr>
    </table>
  </section>
  <!--title-->

  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th><%= t("product.productName") %></th>
        <td>
          <%= f.text_field :name, :autocomplete => "off", :placeholder => t("product.productNameholder") %>
          <%= hidden_field_tag(:next_step, "edit_intro") %>
        </td>
      </tr>
    </table>
  </section>
  <!--title-->
  <% end #form %>

  <section class="hgroup">
    <h2>細節展示</h2>
  </section>
  <section class="text text-edit">
    <div class="three">
      <%= form_for(@photo, :url => "uploadPhoto", :remote => true) do |f| %>
      <%= f.file_field :image %>
      <%= f.hidden_field :img_type, :value => "detail" %>
      <% end %>
    </div>
  </section>
  <section class="text text-edit" id="photos_detail">
    <p id="no_photo_detail" style="display: <%= @photos_detail.empty? ? "block" : "none" %>;">尚未上傳圖片</p>

    <% @photos_detail.each do |photo| %>
    <div class="three" id="photo_detail_<%= photo.id %>">
      <%= image_tag("/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}", :style => "max-width: 300px;") %><br>
      <%= link_to("del", "deletePhoto/#{photo.id}", :method => :delete, :remote => true) %>
    </div>
    <% end %>
  </section>
  <!--細節展示-->

  <section class="hgroup">
    <h2>顏色</h2>
  </section>
  <section class="text text-edit">
    <div class="three">
      <%= form_for(@photo, :url => "uploadPhoto", :remote => true) do |f| %>
      <%= f.file_field :image %>
      <%= f.hidden_field :img_type, :value => "color" %>
      <% end %>
    </div>
  </section>
  <section class="text text-edit" id="photos_color">
    <p id="no_photo_color" style="display: <%= @photos_color.empty? ? "block" : "none" %>;">尚未上傳圖片</p>

    <% @photos_color.each do |photo| %>
    <div class="three" id="photo_detail_<%= photo.id %>">
      <%= image_tag("/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}", :style => "max-width: 300px;") %><br>
      <%= link_to("del", "deletePhoto/#{photo.id}", :method => :delete, :remote => true) %>
    </div>
    <% end %>
  </section>
  <!--顏色-->

  <section class="hgroup">
    <h2>特點</h2>
  </section>
  <section class="text text-edit points">
    <% @descriptions = @product.description.nil? ? 5.times : JSON.parse(@product.description) %>

    <% @descriptions.each do |descript| %>
    
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th valign="top" style="width:25px">※</th>
          <td>
            <input name="product[description][]" value="<%= descript unless @product.description.nil? %>" type="text">
          </td>
        </tr>
      </table>
    </div>
    <% end %>

  </section>
  <!--特點-->

  <section class="button" id="btnSubmit">
    <a href="javascript:$('#edit_product_<%= @product.id %>').submit();">
      <img src="/images/next.png">
      下一步</a>
  </section>
  <!--button-->
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");
  
  $("#lang a").unbind().click(function(event){
    event.preventDefault();
    Alertify.log.error("文章編輯中, 無法切換語系");
  });

  $( "#product_addDate" ).datepicker();
  $( "#product_addDate" ).change(function(){
    $(this).datepicker("option", "dateFormat", "yy-mm-dd");
  });

  $('#edit_product_<%= @product.id %>').submit(function(){
    $(this).append($(".points").clone().hide());
    return true;
  });

  $("input[type=file]").change(function(){
    $(this).parents("form:first").submit();
    $(this).replaceWith( $(this).clone( true ) );
  });

  // editor.init({
  //   articleModel: "product",
  //   photoModel: "productphoto"
  // });

});
</script>