<article>
<% if(@productclass) %>
<section class="hgroup">
  <h2><%= t("product.titleIndex") %></h2>
  <p>／ <%= @productclass.name %></p>
</section>
<!--hgroup-->

<section class="button">
  <%= link_to (image_tag("/images/add.png")+t("product.new") ), admin_productclass_products_path(@productclass, :locale => I18n.locale), :method => :post %>
  <%= link_to (image_tag("/images/back.png")+t("actionshare.back")), admin_productclasses_path(:locale => I18n.locale) %>
</section>
<!--button-->

<section class="list">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <% if(@productclass.products.size > 0) %>
    <tr>
      <th align="left" class="x0 x2"><%= t("product.date") %></th>
      <th align="left"><%= t("product.title") %></th>
      <th align="left" class="x0 x1"><%= t("product.status.name") %></th>
      <th align="left" class="x0 x1"><%= t("actionshare.edit") %></th>
      <th align="left" class="delete x1"><%= t("actionshare.delete") %></th>
    </tr>
    <% else %>
    <th align="center"><%= t("productclass.noProduct") %></th>
    <% end %>

    <% @products.each do |product| %>
    <tr>
      <td class="x0"><%= product.addDate.to_s.to_date %></td>
      <td>
        <%= link_to product.name, admin_productclass_product_path(@productclass, product, :locale => I18n.locale) %>
      </td>
      <td class="x0">
        <% if(product.status == "enable") %>
        <img src="/images/check.png" width="16" height="16">
        <% else %>
        <img src="/images/cancel.png" width="16" height="16">
        <% end %>
      </td>
      <td class="x0">
        <%= link_to image_tag("/images/edit.png"), edit_admin_productclass_product_path(@productclass, product, :locale => I18n.locale) %>
      </td>
      <td class="delete"><a href="#" data-deleteid="<%= product.id %>"><img src="/images/delete.png"></a></td>
      <%= link_to 'Destroy', admin_productclass_product_path(@productclass, product, :locale => I18n.locale), method: :delete, :id => ("delete"+ product.id.to_s ), :style => "display:none;" %>
    </tr>
    <% end %>

  </table>

</section>
<!--list-->
<%= paginate @products, :theme => 'admin' %>
<% else %>
<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>該語言不包含此分類</td>
    </tr>
  </table>
</section>
<!--title-->
<% end %>    
</article>

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");

  $(".delete a").click(function() {
    var deleteid = $(this).data("deleteid");

    Alertify.dialog.confirm("<%= t('actionshare.deleteConfirm') %>", function () {
      // user clicked "ok"
      $("#delete"+deleteid).trigger("click");
    }, function () {
      // user clicked "cancel"
    });
  });
  
});
</script>