<section class="hgroup">
  <h2><%= t("product.titleIndex") %></h2>
  <p>／ <%= @productclass.name %></p>
</section>
<!--hgroup-->

<section class="button">
  <%= link_to (image_tag("/images/add.png")+t("product.new") ), admin_productclass_products_path(@productclass, :locale => I18n.locale), :method => :post %>
  <%= link_to (image_tag("/images/back.png")+t("actionshare.back")), admin_productclasses_path(:locale => I18n.locale) %>
</section>
<!--button-->

<section class="list">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <% if(@productclass.products.size > 0) %>
    <tr>
      <th align="center" class="date"><%= t("product.date") %></th>
      <th align="center" class="edit"><%= t("product.status.name") %></th>
      <th align="left" class="name"><%= t("product.title") %></th>
      <th align="center" class="edit"><%= t("actionshare.edit") %></th>
      <th align="center" class="delete"><%= t("actionshare.delete") %></th>
    </tr>
    <% else %>
    <th align="center"><%= t("productclass.noProduct") %></th>
    <% end %>

    <% @products.each do |product| %>
    <tr>
      <td align="center"><%= product.created_at.to_date %></td>
      <td align="center">
        <% if(product.status == "enable") %>
        <%= t("product.status.enable") %>
        <% else %>
        <%= t("product.status.disable") %>
        <% end %>
      </td>
      <td align="left">
        <%= link_to product.name, admin_productclass_product_path(@productclass, product, :locale => I18n.locale) %>
      </td>
      <td align="center" class="edit">
        <%= link_to image_tag("/images/edit.png"), edit_admin_productclass_product_path(@productclass, product, :locale => I18n.locale) %>
      </td>
      <td align="center" class="delete"><a href="#" data-deleteid="<%= product.id %>"><img src="/images/delete.png"></a></td>
      <%= link_to 'Destroy', admin_productclass_product_path(@productclass, product, :locale => I18n.locale), method: :delete, :id => ("delete"+ product.id.to_s ), :style => "display:none;" %>
    </tr>
    <% end %>

  </table>
</section>
<!--list-->    

<script type="text/javascript">
$(document).ready(function(){
  $("#nav-2").parent().addClass("active");

  $(".delete a").click(function() {
    var deleteid = $(this).data("deleteid");

    Alertify.dialog.confirm("<%= t('actionshare.deleteConfirm') %>", function () {
      // user clicked "ok"
      $("#delete"+deleteid).trigger("click");
    }, function () {
      // user clicked "cancel"
    });
  });
  
});
</script>