<article>
  <section class="hgroup">
    <h2>
      <%= t("product.titleShow") %></h2>
  </section>
  <!--hgroup-->

  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>
          <%= @product.addDate.to_s.to_date %></th>
        <td>
          <%= @product.name %></td>
      </tr>
    </table>
  </section>
  <!--title-->

  <section>
    <%= render "product_info", locals: { product: @product, photos_detail: @photos_detail, photos_color: @photos_color } %>

    <%= render "product_peditor", content_column: "content_intro", output_container: "peditor-up", locals: { product: @product } unless @product.content_intro.blank? %>

    <%= render "product_point", locals: { product: @product, photos_point: @photos_point } %>

    <%= render "product_form", locals: { product: @product } %>

    <% unless @product.content_wrap.blank? %>
    <section class="text text-show">
      <div class="one">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th valign="top">出貨包裝</th>
            <td><%= @product.content_wrap.gsub(/(\r\n|\r|\n)/, "<br />").html_safe %></td>
          </tr>
        </table>
      </div>
    </section>
    <% end %>

    <%= render "product_peditor", content_column: "content_size", output_container: "peditor-size", locals: { product: @product } unless @product.content_size.blank? %>

    <%= render "product_peditor", content_column: "content_wash", output_container: "peditor-wash", locals: { product: @product } unless @product.content_wash.blank? %>

    <%= render "product_peditor", content_column: "content_outro", output_container: "peditor-down", locals: { product: @product } unless @product.content_outro.blank? %>
  </section>

  <section class="button">
    <%= link_to (image_tag("/images/edit.png")+t("actionshare.edit")), "#{params[:id]}/edit" %>
    <%= link_to (image_tag("/images/back.png")+t("actionshare.back")), "../" %>
  </section>
</article>

<script type="text/javascript">
$(document).ready(function() {
  $("#nav-2").parent().addClass("active");
});

$("[id^=peditor-] div").each(function(){
  $(this).parent().append($(this).html());
  $(this).remove();
});
</script>