<article>
<section class="hgroup">
  <h2><%= t("product.titleShow") %></h2>
  <p>／ <%= @productclass.name %></p>
</section>
<!--hgroup-->

<% if(@product) %>
<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= @product.addDate.to_s.to_date %></th>
      <td><%= @product.name %></td>
    </tr>
  </table>
</section>

<!--title-->

<input id="product_content" style="display:none;" type="text" value="<%=@product.content%>">
<section id="articleContent" class="text text-show">
  <div class="one">
  </div>
  
</section>
<!--text-->

<section id="articleContent" class="text text-show">
<div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th><%= t("product.frontshow") %></th>
        <td>
          <% if(@product.status == "enable") %>
          <%= t("product.status.enable") %>
          <% else %>
          <%= t("product.status.disable") %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</section>
<!--text-->

<% else %>
<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>該語言不包含此商品</td>
    </tr>
  </table>
</section>
<!--title-->
<% end %>

<section class="button">
  <% if(@product) %>
  <%= link_to (image_tag("/images/edit.png")+t("actionshare.edit") ), edit_admin_productclass_product_path(@product.productclass_id, @product, :locale => I18n.locale) %>
  <% end %>
  <%= link_to (image_tag("/images/back.png")+t("actionshare.back")), admin_productclass_products_path(@productclass, :locale => I18n.locale) %>
</section>
<!--button-->
</article>


<script type="text/javascript">
$(document).ready(function() {
  $("#nav-2").parent().addClass("active");

  editor.output($("#product_content").val());

  $("#articleContent div").each(function(){
    $("#articleContent").append($(this).html());
    $(this).remove();
  });
});

</script>
