<article>
  <section class="hgroup">
    <h2><%= t("product.titleShow") %></h2>
  </section>
  <!--hgroup-->

  <section class="title">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>
          <%= @product.addDate.to_s.to_date %></th>
        <td>
          <%= @product.name %></td>
      </tr>
    </table>
  </section>
  <!--title-->

  <section class="text text-show">
    <div class="one">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th>
            <%= t("product.frontshow") %></th>
          <td>
            <%= (@product.status == "enable") ? t("product.status.enable") : t("product.status.disable") %>
          </td>
        </tr>
      </table>
    </div>
  </section>
  <!--text-->
</article>


<script type="text/javascript">
$(document).ready(function() {
  $("#nav-2").parent().addClass("active");

  editor.output($("#product_content").val());

  $("#articleContent div").each(function(){
    $("#articleContent").append($(this).html());
    $(this).remove();
  });
});
</script>
