<section class="hgroup">
  <h2><%= t("product.titleShow") %></h2>
  <p>／ <%= @productclass.name %></p>
</section>
<!--hgroup-->
<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= @product.created_at.to_date %></th>
      <td><%= @product.name %></td>
    </tr>
  </table>
</section>
<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= t("product.status.name") %></th>
      <td>
        <% if(@product.status == "enable") %>
        <%= t("product.status.enable") %>
        <% else %>
        <%= t("product.status.disable") %>
        <% end %>
      </td>
    </tr>
  </table>
</section>
<!--title-->

<input id="product_content" style="display:none;" type="text" value="<%=@product.content%>">
<section id="articleContent" class="text text-show">
</section>
<!--text-->

<section class="button">
  <%= link_to (image_tag("/images/edit.png")+t("actionshare.edit") ), edit_admin_productclass_product_path(@product.productclass_id, @product, :locale => I18n.locale) %>
  <%= link_to (image_tag("/images/back.png")+t("actionshare.back")), admin_productclass_products_path(@product.productclass_id, :locale => I18n.locale) %>
</section>
<!--button-->

<script type="text/javascript">
$(document).ready(function() {
  $("#nav-2").parent().addClass("active");

  showContent();

  function showContent(){
    if($("#product_content").val())
    {
      var obj = JSON.parse($("#product_content").val());
      var article = "";
      for(i=0;i<obj.article.length;i++)
      {
        var paragraph = obj.article[i];

        if(JSON.stringify(paragraph.type)=='"paragraph"')
        {
          article = "<p class='"+paragraph.cssclass+"' style='font-size: "+paragraph.fontSize+"; color: "+paragraph.color+"'>";

          if(paragraph.link){
            article += "<a target='_blank' href='"+paragraph.link+"'>"+jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</a></p>";
          }
          else{
            article += jsonReplace(JSON.stringify(paragraph.content)).replace(/\\n/g, "<br />")+"</p>";
          }
        }
        else if(JSON.stringify(paragraph.type)=='"image"')
        {
          article = "<img alt=" + JSON.stringify(paragraph.id) + " src=" + JSON.stringify(paragraph.path) + " title=" + JSON.stringify(paragraph.id) + " />";
        }
        else if(JSON.stringify(paragraph.type)=='"linkedimg"')
        {
          article = "<a href="+JSON.stringify(paragraph.link)+" target='_blank'><img alt=" + JSON.stringify(paragraph.imgid) + " src=" + JSON.stringify(paragraph.imgpath) + " title=" + JSON.stringify(paragraph.imgid) + " /></a>";
        }
        else if (JSON.stringify(paragraph.type)=='"video"') {
          article = "<iframe width=\"480\" height=\"290\" data-code=\"" + paragraph.code + "\" src=\"http://www.youtube.com/embed/" + paragraph.code+ "\" frameborder=\"0\" allowfullscreen></iframe>";
        }
        $("#articleContent").append(article);
      }
    }
  }

  function jsonReplace(string){return string.replace(/"([^"]*)"/g, "$1");}
  
});

</script>
