<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= t("indexlink.title.name") %></th>
      <td><%= f.text_field :title, :placeholder => t("indexlink.title.valid"), :autocomplete => "off", :class => "valid" %></td>
    </tr>
  </table>
</section>
<!--title-->

<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= t("indexlink.titlesub.name") %></th>
      <td><%= f.text_field :titlesub, :placeholder => t("indexlink.titlesub.valid"), :autocomplete => "off" %></td>
    </tr>
  </table>
</section>
<!--title-->

<section class="text text-edit">
  <div class="quarter">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("indexlink.ordernum.name") %></th>
        <td><%= f.text_field :ordernum, :placeholder => t("indexlink.ordernum.valid"), :autocomplete => "off" %></td>
      </tr>
    </table>
  </div>

  <div class="remainder">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("indexlink.link.name") %></th>
        <td><%= f.text_field :link, :placeholder => t("indexlink.link.valid"), :autocomplete => "off" %></td>
    </tr>
  </table>
</div>

<div class="one">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th valign="top"><%= t("indexlink.content.name") %></th>
      <td><%= f.text_area :content, :placeholder => t("indexlink.content.valid"), :class =>"autogrow", :autocomplete => "off", :class => "valid" %></td>
    </tr>
  </table>
</div>

<div class="one">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th valign="top"><%= t("indexlink.color.name") %></th>
      <td>
        <%= f.radio_button(:fontcolor, 'black', :checked => true, :class=>"radio") %><%= t("indexlink.color.black") %>
        <%= f.radio_button(:fontcolor, 'white', :class=>"radio" )%><%= t("indexlink.color.white") %>
      </td>
    </tr>
  </table>
</div>

<div class="one">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th valign="top"><%= t("indexlink.upload.name") %></th>
      <td>
        <%= f.file_field :image %><br />
        <% if(@indexlink.translation.image.path) %>
        <%=image_tag(@indexlink.image, :width=>"100px") %><br />
        
        <%else%>
        <p><%= t("indexlink.upload.valid") %></p><br />
        <% end %>
      </td>
    </tr>
  </table>
</div>
</section>
<!--text-->

<section class="button">
  <a href="#" id="formSubmit"><img src="/images/save.png"><%= t("actionshare.save") %></a>
  <%= link_to (image_tag("/images/cancel.png")+ t("actionshare.cancel") ), admin_indexlinks_path(:locale => I18n.locale) %>
</section>
<!--button-->

<script type="text/javascript">
$("#formSubmit").click(function(event){
  event.preventDefault();

  var submit = true;

  $(".valid").each(function(){
    if(!$(this).val()){
      submit = false;
    }
  });

  if(submit){
    $("form").submit();
  }
  else{
    Alertify.log.error('<%= t("indexlink.submitValid") %>');
  }

});
</script>
