<section class="title">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <th><%= t("indexlink.title.name") %></th>
      <td><%= @indexlink.title %></td>
    </tr>
  </table>
</section>
<!--title-->

<section class="text text-show">
  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("indexlink.ordernum.name") %></th>
        <td><%= @indexlink.ordernum %></td>
      </tr>
    </table>
  </div>

  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("indexlink.link.name") %></th>
        <td><a href="<%= @indexlink.link %>" target= "_blank"><%= @indexlink.link %></a></td>
      </tr>
    </table>
  </div>

  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("indexlink.content.name") %></th>
        <td><%= simple_format(@indexlink.content) %></td>
      </tr>
    </table>
  </div>

  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("indexlink.color.name") %></th>
        <td><%= @indexlink.fontcolor %></td>
      </tr>
    </table>
  </div>

  <div class="one">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th valign="top"><%= t("indexlink.preview") %></th>
        <td><%=image_tag(@indexlink.image) %></td>
      </tr>
    </table>
  </div>
</section>
<!--text-->
<section class="button">
  <%= link_to (image_tag("/images/edit.png")+ t("actionshare.edit") ), edit_admin_indexlink_path(@indexlink, :locale => I18n.locale) %>
  <%= link_to (image_tag("/images/back.png")+ t("actionshare.back") ), admin_indexlinks_path(:locale => I18n.locale) %>
</section>
<!--button-->


<script type="text/javascript">
$(document).ready(function(){
  $("#nav-1").parent().addClass("active");
});
</script>
