<div id="photo">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="65%" height="530" rowspan="2" align="left" valign="top">
        <div id="detail">
          <% @cover = @photos_detail.first %>
          <%= image_tag("/uploads/Productphoto/#{@product.id}/#{@cover.id}-#{@cover.name}") %>
          <a href="#" class="open"></a>
          <a href="#" class="close"></a>
        </div>

        <div id="thumb">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th>細節展示</th>
              <% @photos_detail.each do |photo| %>
              <td><a href="#" class="active"><%= image_tag("/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}") %></a></td>
              <% end %>
            </tr>
            <tr>
              <th>顏色</th>
              <% @photos_color.each do |photo| %>
              <td><a href="#"><%= image_tag("/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}") %></a></td>
              <% end %>
            </tr>
          </table>
        </div>
      </td>
      <td width="35%" valign="bottom" height="370">
        <ul>
          <% @product.get_column_content("description").each do |description| %>
          <li><%= description %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td height="160" valign="bottom">

        <%= link_to( image_tag("/images/s-14.png"), add_cart_productasks_path(@product.id, :locale => I18n.locale), :method => :post, :class => "add" ) %>
      </td>
    </tr>
  </table>
</div>