<link rel="stylesheet" type="text/css" href="/easyzoom/easyzoom.css">
<script src="/easyzoom/easyzoom.js"></script>

<div id="photo">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="65%" height="530" rowspan="2" align="left" valign="top">
        <div id="detail" class="easyzoom easyzoom--overlay">
          <% @cover = @photos_detail.first %>
          <%= link_to image_tag("/uploads/Productphoto/#{@product.id}/thumb_#{@cover.id}-#{@cover.name}"), "/uploads/Productphoto/#{@product.id}/#{@cover.id}-#{@cover.name}" if @cover %>
          <a href="javascript:void(0);" class="open"></a>
          <a href="javascript:void(0);" class="close" style="display: none; z-index:990;"></a>
        </div>

        <script type="text/javascript">
        var $easyzoom = $('.easyzoom').easyZoom();
        api = $easyzoom.data('easyZoom');

        $(".open").click(function(e){
          $(".open").hide();
          $(".close").show();

          api.ready_to_show = true;
          api.show();
        });

        $(".close").click(function(){
          $(".open").show();
          $(".close").hide();

          api.ready_to_show = false;
          api.hide();
        });
        
        </script>

        <div id="thumb">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <th>細節展示</th>
              <% @photos_detail.each do |photo| %>
              <td>
                <%= link_to image_tag("/uploads/Productphoto/#{@product.id}/thumb_#{photo.id}-#{photo.name}"), "javascript:void(0);", :class => ( photo == @photos_detail.first ? "active swap" : "swap" ), :data => { path: "/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}" } %>
              </td>
              <% end %></tr>
            <tr>
              <th>顏色</th>
              <% @photos_color.each do |photo| %>
              <td>
                <%= link_to image_tag("/uploads/Productphoto/#{@product.id}/thumb_#{photo.id}-#{photo.name}"), "javascript:void(0);", :class => "swap", :data => { path: "/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}" } %>
              </td>
              <% end %>
            </tr>
          </table>
        </div>
        <script type="text/javascript">
        $(".swap").click(function(){
          $(".active").removeClass("active");
          
          var active = $(this);
          active.addClass("active");

          api.swap(active.children("img").attr("src"), active.data("path"));
        });
        </script>
      </td>
      <td width="35%" valign="bottom" height="370">
        <ul>
          <% @product.get_column_content("description").each do |description| %>
          <li>
            <%= description %></li>
          <% end %></ul>
      </td>
    </tr>
    <tr>
      <td height="160" valign="bottom">

        <%= link_to( image_tag("/images/s-14.png"), add_cart_productasks_path(@product.id, :locale =>I18n.locale), :method => :post, :class => "add" ) %></td>
    </tr>
  </table>
</div>