<article _height="auto">
  <section>
    <div id="banner_series" class="banner">
      <div class="cover"><%= image_tag(@product.subclass.productclass.frontshow, :width => "545", :height => "123") %></div>
      <div class="bread">
        <%= link_to t("bread.index") , root_url %> > <%= link_to t("bread.product") , productclasses_path(:locale => params[:locale]) %> > <%= link_to @product.subclass.productclass.name, productclass_path(@product.subclass.productclass ,:locale => params[:locale]) %> > <%= link_to @product.subclass.name, productclass_subclass_path(@product.subclass.productclass, @product.subclass ,:locale => params[:locale]) %> > <%= @product.name %>
        </div>
    </div>
    <div id="content">
      <div class="left">
        <%= display_productclasses(@product.subclass.productclass, @productclasses).html_safe %>
      </div>
      <!--left-->
      <div id="level-3" class="right">
        <h3><%= @product.name %></h3>

        <%= render "product_info", locals: { product: @product, photos_detail: @photos_detail, photos_color: @photos_color } %>

        <%= render "product_peditor", content_column: "content_intro", output_container: "peditor-up", locals: { product: @product } unless @product.content_intro.blank? %>

        <%= render "product_point", locals: { product: @product, photos_point: @photos_point } %>

        <%= render "product_form", locals: { product: @product } %>

        <div id="content-3">
          <% unless (@product.content_wrap.blank? && @photos_wrap.length == 0) %>
          <h5><img src="/images/s-18.png"></h5>
          <%= @product.content_wrap.gsub(/(\r\n|\r|\n)/, "<br />").html_safe %>
          <br><br>
          <ul>
            <% @photos_wrap.each do |photo| %>
            <li class="thumb">
              <%= image_tag("/uploads/Productphoto/#{@product.id}/#{photo.id}-#{photo.name}") %>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>

        <div id="content-4">
          <%= render "product_peditor", content_column: "content_size", output_container: "peditor-size", locals: { product: @product } unless @product.content_size.blank? %>
        </div>

        <div id="content-5">
          <%= render "product_peditor", content_column: "content_wash", output_container: "peditor-wash", locals: { product: @product } unless (@product.content_wash.blank? && @photos_wash.length == 0) %>
        </div>

        <%= render "product_peditor", content_column: "content_outro", output_container: "peditor-down", locals: { product: @product } unless @product.content_outro.blank? %>
      </div>
      <!--right--> 
    </div>
  </section>
</article>

<script type="text/javascript">
$(document).ready(function() {

  if("<%= alert || notice %>"){
    alert("<%= alert || notice %>");
  }
});

</script>
