<article _height="auto">
  <section>
    <div id="banner_series" class="banner">
      <div class="cover"><%= image_tag(@product.subclass.productclass.frontshow, :width => "545", :height => "123") %></div>
      <div class="bread"><%= "#{t("bread.index")} > #{t("bread.product")} > #{@product.subclass.productclass.name} > #{@product.subclass.name} > #{@product.name}" %></div>
    </div>
    <div id="content">
      <div class="left">
        <%= display_productclasses(@product.subclass.productclass, @productclasses).html_safe %>
      </div>
      <!--left-->
      <div id="level-3" class="right">
        <h3><%= @product.name %></h3>

        <%= render "product_info", locals: { product: @product, photos_detail: @photos_detail, photos_color: @photos_color } %>

        <%= render "product_peditor", content_column: "content_intro", output_container: "peditor-up", locals: { product: @product } unless @product.content_intro.blank? %>

        <%= render "product_point", locals: { product: @product, photos_point: @photos_point } %>

        <%= render "product_form", locals: { product: @product } %>

        <div id="content-3">
          <h5><img src="/images/s-18.png"></h5>
          <%= simple_format(@product.content_wrap) %>
        </div>

        <div id="content-4">
          <h5><img src="/images/s-19.png"></h5>
          <%= render "product_peditor", content_column: "content_size", output_container: "peditor-size", locals: { product: @product } unless @product.content_size.blank? %>
        </div>

        <div id="content-5">
          <h5><img src="/images/s-20.png"></h5>
          <%= render "product_peditor", content_column: "content_wash", output_container: "peditor-wash", locals: { product: @product } unless @product.content_wash.blank? %>
        </div>

        <%= render "product_peditor", content_column: "content_outro", output_container: "peditor-down", locals: { product: @product } unless @product.content_outro.blank? %>
      </div>
      <!--right--> 
    </div>
  </section>
</article>

<script type="text/javascript">
$(document).ready(function() {

  if("<%= alert || notice %>"){
    alert("<%= alert || notice %>");
  }
});

</script>
