<article _height="auto">
  <section>
    <div id="banner_series" class="banner">
      <div class="cover"><%= image_tag(@subclass.productclass.frontshow, :width => "545", :height => "123") %></div>
      <div class="bread">
        <%= link_to t("bread.index") , root_url %> > <%= link_to t("bread.product") , productclasses_path(:locale => params[:locale]) %> > <%= link_to @subclass.productclass.name, productclass_path(@subclass.productclass ,:locale => params[:locale]) %> > <%= @subclass.name%>
        
      </div>
    </div>
    <div id="content">
      <div class="left">
        <%= display_productclasses(@subclass.productclass, @productclasses).html_safe %>
      </div>
      <!--left-->

      <div id="level-2" class="right">
        <h3><%= @subclass.name %></h3>
          <ul>
            <% @subclass.products.each do |product| %>
            <li>
              <% @path = get_path(product) %>
              <%= link_to (image_tag("#{@path}") + "<br><span>#{product.name}</span>".html_safe), productclass_subclass_product_path(params[:productclass_id], @subclass, product, :locale => I18n.locale) %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!--right--> 
    </div>
  </section>
</article>

<script type="text/javascript">
$(document).ready(function() {
});

</script>