<article _height="auto">
  <section>
    <div id="banner">
      <div class="cover"><%= image_tag(@subclass.productclass.frontshow, :width => "545", :height => "123") %></div>
      <div class="bread"><%= "首頁 > 產品介紹 > #{@subclass.productclass.name} > #{@subclass.name}" %></div>
    </div>
    <div id="content">
      <div class="left">
        <%= display_productclasses(@subclass.productclass, @productclasses).html_safe %>
      </div>
      <!--left-->

      <div id="level-2" class="right">
        <h3><%= @subclass.name %></h3>
          <ul>
            <% @subclass.products.each do |product| %>
            <li>
              <a href="<%= productclass_subclass_product_path(params[:productclass_id], @subclass, product, :locale => I18n.locale) %>"> <img src="example-2.jpg"><br>
              <span><%= product.name %></span></a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <!--right--> 
    </div>
  </section>
</article>

<script type="text/javascript">
$(document).ready(function() {
});

</script>