<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>榮騰後台管理系統</title>
<%= stylesheet_link_tag "admin", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body>
<div id="top-out">
  <div id="top">
    <h1 class="left"><a href="/admin">榮騰農產 - 後台管理系統</a></h1>
    <div class="right">
      <%if session[:admin]%>
      你好，<%= session[:admin]%>！<a href="/admin/edit">修改個人資料</a><a href="/admin/log_out">登出</a>
      <% end %>

      <a href="/home">返回首頁</a>

    </div>
  </div>
  <!--top--> 
</div>
<!--top-out-->
<div id="container">
  <%if session[:admin]%>
  <div id="side" class="left">
    <ul>
      <li><a href="/admin/news" id="update">最新消息</a></li>
    </ul>
  </div>
  <% end %>

<%= yield %>

</div>
<!--container-->
<div id="footer"></div>
<!--footer-->
</body>
</html>
