<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta property="og:image" content="http://www.versatile-dragon.com/images/thumb.jpg"/>
<meta name="google-site-verification" content="MwLcBaHnTsYocVXA4WcqrfHQ9sKjBUn4q-_je-dVDDA" />
<link rel="shortcut icon" href="/images/favicon.ico"/>
<link rel="image_src" href="/images/thumb.jpg"/>
<title><%= t("environ.titlefront") %></title>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= stylesheet_link_tag (params[:locale]+"_titleimg"), :media => "all" %>

<% if(params[:controller] == "staticpage") %>
<% case params[:action] %>
<% when "index" %>
<%= stylesheet_link_tag "index", :media => "all" %>
<% when "about" %>
<%= stylesheet_link_tag "about", :media => "all" %>
<% when "contact" %>
 <%= stylesheet_link_tag "contact", :media => "all" %>
<script src="http://api.ditu.aliyun.com/map.js" ></script>
<style>
  #mapDiv{
    width: 511px; 
    height: 273px
  }
  #mapDiv2{
    width: 511px; 
    height: 273px
  }
</style>
<% when "partner" %>
<%= stylesheet_link_tag "partner", :media => "all" %>
<% end %>

<% elsif(params[:controller] == "productclasses" || params[:controller] == "products") %>
<%= stylesheet_link_tag "series", :media => "all" %>
<% else %>
<%= stylesheet_link_tag "about", :media => "all" %>
<% end %>

<% if( params[:locale] == "en" ) %>
<%= stylesheet_link_tag "en_adjust", :media => "all" %>
<%= stylesheet_link_tag "slide-en", :media => "all" %>
<% end %>



<%= javascript_include_tag "application" %>
<script type="text/javascript" src="/js/auto-full-height.min.js"></script>
<%= csrf_meta_tags %>

<script src="/peditor/js/editor.js"></script>
<script src="/peditor/js/editor_p.js"></script>
<script src="/peditor/js/editor_img.js"></script>
<script src="/peditor/js/editor_video.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40180705-1', 'versatile-dragon.com');
  ga('send', 'pageview');
</script>

<script type="text/javascript">
$(function(){
  //更換語系
  changeLang();

  function changeLang(){
    $("#lang").children("a").each(function(){
    	if($(this).data("lang") == "<%= params[:locale] %>"){
    		$(this).hide();
    	}
    	else{
    		$(this).show();
    	}
    });

    $("#lang a:visible").eq(0).after("&nbsp;/");
  }

  $("#lang a").click(function(){
  	//符合regex時傳回array ["目前網址", "root path(不含語系)", "語系", "子網頁"]
  	var location = window.location.toString().match(/^http\:\/\/(.+)\/(en|zh_TW|zh_CN)([\/productclasses]?)(.*)/)[4];
    if(location.indexOf("productclasses") !== -1){
      location = "productclasses";
    }
  	window.location = "/"+$(this).data("lang")+"/"+location;
  });

});
</script>
</head>

<body>
<header>
  <section>
    <h1><a href="/<%= I18n.locale %>"><%= t("environ.titlefront") %></a></h1>
    <nav>
      <ul>
        <li><a href="<%= productclasses_path(:locale => params[:locale]) %>"><%= t("navbar.product.name") %></a></li>
        <li><a href="/<%= I18n.locale %>/about"><%= t("navbar.about.name") %></a></li>
        <li><a href="/<%= I18n.locale %>/partner"><%= t("navbar.partner.name") %></a></li>
        <li><a href="/<%= I18n.locale %>/contact"><%= t("navbar.contact.name") %></a></li>
        <li id="lang">
        	<a href="#" data-lang="zh_TW"><%= t("environ.language.tw") %></a>
        	<a href="#" data-lang="zh_CN"><%= t("environ.language.cn") %></a>
        	<a href="#" data-lang="en"><%= t("environ.language.us") %></a>
        </li>
        <li><%= link_to "詢價車：#{@cartitems_count}件。", root_cart_productasks_path %></li>
      </ul>
    </nav>
  </section>
</header>

<%= yield %>

<aside>
  <section>
    <div class="info" style="width:36%">
      <p><strong><%= t("company.info1.name") %></strong><br>
       <%= t("company.address") %>：<%= t("company.info1.address") %><br>
        <%= t("company.tel") %>：0512-52577180/181<br>
        <%= t("company.fax") %>：0512-52578380<br>
        <%= t("company.contact") %>：<%= t("company.info1.contact") %><br>
        E-mail： <a href="mailto:solomon@versatile-dragon.com" target="_blank">solomon@versatile-dragon.com</a><br>
        <%= t("company.mail") %>： <a href="mailto:solomon@versatile-dragon.com" target="_blank">solomon@versatile-dragon.com</a> </p>
    </div>
    <div class="info">
       <p><strong><%= t("company.info2.name") %></strong><br>
      <%= t("company.address") %>：<%= t("company.info2.address").html_safe %><br>
        <%= t("company.tel") %>：0769-83717123/4/5<br>
        <%= t("company.fax") %>：0769-83717118<br>
        <%= t("company.contact") %>：<%= t("company.info2.contact") %><br>
        E-mail： <a href="mailto:bruce@versatile-dragon.com" target="_blank">bruce@versatile-dragon.com </a>
      </p>
    </div>
    <div class="info">
      <p><strong><%= t("company.info3.name") %></strong><br>
       <%= t("company.address") %>：<%= t("company.info3.address") %><br>
        <%= t("company.tel") %>：02-22534059<br>
        <%= t("company.fax") %>：02-22512350<br>
        <%= t("company.contact") %>：<%= t("company.info3.contact") %><br>
        E-mail： <a href="mailto:selena@versatile-dragon.com" target="_blank">selena@versatile-dragon.com</a><br>
       
     </p>
    </div>
  </section>
</aside>
<footer>
  <section> © 2013 Versatile Dragon. All rights reserved.</section>
</footer>
</body>
</html>
